# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version
backend/uploads/
backend/data_state.json

# Virtual environments
.venv/
.venv*/
venv/
ENV/

# Node
node_modules/
/dist/

# Editor
.vscode/
*.swp
.DS_Store
